<section style="margin:0 auto;">
	<table style="border-collapse:collapse;width:100%;margin:0 auto;">
		<tr>
			<td width="100%" style="border-collapse:collapse;width:100%;">
				<table role="presentation" class="m_-7964368001059269223flexible" width="600" cellspacing="0"
					cellpadding="0" border="0"
					style="border-collapse:collapse;font-family:Google Sans,Roboto,Arial;font-weight:normal;margin:0 auto;width:600px;max-width:600px">
					<tbody>

						<tr>
							<td class="m_-7964368001059269223flexible"
								style="border-collapse:collapse;margin:0;max-width:600px">
								<table role="presentation" width="600" class="m_-7964368001059269223flexible"
									cellspacing="0" cellpadding="0" border="0"
									style="border-collapse:collapse;font-family:Roboto,Arial;font-weight:normal;margin:0 auto;width:600px">
									<tbody>
										<tr>
											<td style="border-collapse:collapse">
												<table role="presentation" width="auto" align="left" cellspacing="0"
													cellpadding="0" border="0"
													style="border-collapse:collapse;font-family:roboto,arial;font-weight:500;width:auto">
													<tbody>
														<tr>
															<td class="m_-7964368001059269223logo_holder_td"
																style="border-collapse:collapse;padding-bottom:9px;padding-top:19px;padding-left:50px">
																<img src="https://design.brisigns.com/images/br_logo_blk.png"
																	width="133" alt="Blue Rhine Industries LLC"
																	style="outline:none;text-decoration:none"
																	class="CToWUd">
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td class="m_-7964368001059269223flexible"
								style="border-collapse:collapse;margin:0;max-width:600px">
								<table role="presentation" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
									width="100%" style="border-radius:3px;background-color:#ffffff;max-width:600px">
									<tbody>
										<tr>
											<td class="m_-7964368001059269223bigger_wrapper_body m_-7964368001059269223flexible"
												width="100%"
												style="border-radius:3px;border-collapse:collapse;margin:0;padding-bottom:0px;padding-top:0px;font-family:Google Sans,Roboto,Arial;background-color:#ffffff;padding-left:50px;padding-right:50px">
												<table role="presentation" width="500"
													class="m_-7964368001059269223flexible" cellpadding="0"
													cellspacing="0" border="0"
													style="width:500px;max-width:500px;margin-right:auto;margin-left:auto">

													<tbody>
														<tr>
															<td class="m_-7964368001059269223flexible m_-7964368001059269223main_heading m_-7964368001059269223headline"
																style="border-collapse:collapse;color:#3c4043;font-family:Google Sans,Roboto,Arial;font-size:32px;font-weight:500;line-height:40px;text-align:left;padding-bottom:0px;padding-top:41px;padding-left:0px;padding-right:46px">
																Forgot password <br><span style="color:#e36a28"><span
																		style="white-space:nowrap">Password Reset
																	</span>
																	Link.</span>
															</td>
														</tr>
														<tr>
															<td class="m_-7964368001059269223flexible m_-7964368001059269223sub_heading_trigger_em1"
																style="border-collapse:collapse;color:#3c4043;font-family:Google Sans,Roboto,Arial;font-size:16px;font-weight:normal;line-height:26px;text-align:left;padding-bottom:0px;padding-top:19px;padding-left:0px;padding-right:0px">
																Click the below button to reset the password.
															</td>
														</tr>
														<tr>
															<td id="m_-7964368001059269223outer_cover" align="left"
																style="border-collapse:collapse;font-family:Roboto,arial;font-weight:normal;padding-top:25px;padding-bottom:0px">
																<table role="presentation"
																	style="margin:auto;border-collapse:collapse;border-radius:3px;color:#1a73e8;font-family:Google Sans,Arial;font-weight:500"
																	height="40" align="left" bgcolor="#1a73e8"
																	cellpadding="0" cellspacing="0">
																	<tbody>
																		<tr>
																			<td style="border-collapse:collapse">
																				<a style="background-color:#2b518b;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-color:#2b518b;border-radius:3px;border-style:solid;border-top-left-radius:3px;border-top-right-radius:3px;color:#ffffff;display:inline-block;font-family:Google Sans,Arial;font-size:14px;font-weight:600;line-height:24px;margin:0;text-decoration:none"
																					href="@@Link@@"
																					bgcolor="#1a73e8" target="_blank">
																					<span
																						style="display:block;padding-left:16px;padding-right:15px;padding-top:9px;padding-bottom:9px">Reset
																						Now</span>
																				</a>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td class="m_-7964368001059269223header_image_td"
																width="500" style="width:500px;padding-top:31px">
																<img class="m_-7964368001059269223desk_header_image CToWUd a6T"
																	src="https://design.brisigns.com/images/bg_1.png"
																	border="0" alt="" height="200" width="500"
																	style="height:200px;width:500px" tabindex="0">
																<div class="a6S" dir="ltr"
																	style="opacity: 0.01; left: 502px; top: 511.5px;">
																	<div id=":8p" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
																		role="button" tabindex="0"
																		aria-label="Download attachment "
																		data-tooltip-class="a1V"
																		data-tooltip="Download">
																		<div class="akn">
																			<div class="aSK J-J5-Ji aYr"></div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>

													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td class="m_-7964368001059269223flexible m_-7964368001059269223main_heading"
												style="border-collapse:collapse;color:#3c4043;font-family:Google Sans,Roboto,Arial;font-size:14px;font-weight:normal;line-height:24px;text-align:left;padding-bottom:0px;padding-top:0px;padding-left:50px;padding-right:50px">
												Thank You,
											</td>
										</tr>
										<tr>
											<td class="m_-7964368001059269223flexible m_-7964368001059269223main_heading"
												style="border-collapse:collapse;color:#3c4043;font-family:Google Sans,Roboto,Arial;font-size:14px;font-weight:bold;line-height:24px;text-align:left;padding-bottom:24px;padding-top:0px;padding-left:50px;padding-right:50px">
												The Blue Rhine Support Team
											</td>
										</tr>
										<tr>
											<td class="m_-7964368001059269223bottom_link_footer_td" align="left"
												width="100%" style="margin:0;padding:0;padding-right:0px">
												<table role="presentation" cellspacing="0" cellpadding="0" border="0"
													style="background:#ffffff;border-collapse:collapse;border-top:1px solid #d8d8d8;font-family:Roboto,arial;font-weight:normal;margin:0 auto;max-width:600px;width:100%"
													width="100%">
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td width="100%" style="border-collapse:collapse;width:100%">

				<table role="presentation" dir="ltr" width="100%" cellspacing="0" cellpadding="0" border="0"
					style="border-collapse:collapse;font-family:Roboto,Arial;font-weight:normal;margin:0 auto;max-width:600px;width:100%">
					<tbody>
						<tr>
							<td style="border-collapse:collapse">
								<table role="presentation" width="auto" align="left" cellspacing="0" cellpadding="0"
									border="0"
									style="border-collapse:collapse;font-family:roboto,arial;font-weight:500;width:auto">
									<tbody>
										<tr>
											<td class="m_-7964368001059269223footer_wrapper_td"
												style="border-collapse:collapse;padding-bottom:0px;padding-top:30px;padding-left:50px">
												<img src="https://design.brisigns.com/images/BR-small.png" width="43"
													alt="Blue Rhine" style="outline:none;text-decoration:none"
													class="CToWUd">
											</td>
										</tr>
									</tbody>
								</table>

							</td>
						</tr>
						<tr>
							<td class="m_-7964368001059269223footer_wrapper_td"
								style="border-collapse:collapse;color:#5e6369;font-family:Roboto,arial;font-size:12px;line-height:18px;padding:9px 50px 9px 50px;text-align:left;word-break:normal">
								<a style="text-decoration:none;color:#5e6369;font-size:12px">Blue Rhine LLC, Dubai
									Investments Park 2, Jebel Ali, Dubai, UAE</a>


							</td>
						</tr>
						<tr>
							<td class="m_-7964368001059269223footer_wrapper_td"
								style="border-collapse:collapse;color:#5e6369;font-family:Roboto,arial;font-size:12px;font-weight:normal;line-height:18px;padding:23px 50px 9px 50px;padding-top:10px;text-align:left;word-break:normal">
								You have received this email because it contains important information about your <span
									style="white-space:nowrap"> <br>BRI Installation Middleware</span>.
							</td>
						</tr>

					</tbody>
				</table>
			</td>
		</tr>
	</table>
</section>