<div class="">
  <div id=":164" class="ii gt" jslog="20277; u014N:xr6bB; 24:W251bGwsIjY3MTgwNjUzNDEzNTIzNzE5NTAiLG51bGwsMTZd; 4:W251bGwsbnVsbCxbXV0.">
    <div id=":163" class="a3s aiL msg1355126936274264770">
      <div bgcolor="#ffffff" class="m_1355126936274264770body_wrapper">

        <center>
          <table role="presentation" class="m_1355126936274264770body_size" border="0" cellspacing="0" cellpadding="0" align="center" width="720" bgcolor="#ffffff" style="background:#ffffff;min-width:720px">
            <tbody>
              <tr>
                <td align="center" style="padding-top:20px">  
                  <img role="presentation" class="m_1355126936274264770google_mobile CToWUd" height="26" border="0" src="http://40.119.167.89:84/images/mailTempImg/logo/br_logo.png" style="height:26px;text-align:center;border:none">
                </td>
              </tr>
              <tr>
                <td class="m_1355126936274264770space1" height="15"></td>
              </tr>
              <tr>
                <td width="480" style="border:2px solid #e8eaed;border-radius:16px">
                  <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="center">      		
                          <img role="presentation" width="716" border="0" src="http://40.119.167.89:84/images/mailTempImg/img/topdesign.png" style="width:100%;text-align:center;border:none" class="CToWUd a6T" tabindex="0">
                        </td>
                      </tr>
                      <tr>
                        <td>

                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                            <tbody>
                              <tr>
                                <td align="center">    
                                  <img role="presentation" class="m_1355126936274264770module_mobile CToWUd" width="64" height="64" border="0" src="http://40.119.167.89:84/images/mailTempImg/img/logo.png" style="width:64px;height:64px;text-align:center;border:none;font-size:9px">
                                </td>
                              </tr>
                              <tr><td height="15"></td>
                              </tr>
                              <tr>
                                <td align="center" class="m_1355126936274264770device_txt m_1355126936274264770space6" style="color:#202124;font-family:Google Sans,&quot;Roboto&quot;,Arial;font-size:16px;font-weight:600;line-height:25px;margin:0;padding:0 80px 0 80px;text-align:center;word-break:normal;direction:ltr" dir="ltr">Work Order Details</td>
                              </tr>
                              <tr>
                                <td height="15" style="line-height:4px;font-size:4px"></td>
                              </tr>
                              <tr>
                                <td class="m_1355126936274264770subheadline m_1355126936274264770space6" align="center" style="color:#5f6368;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0 80px 0 80px;text-align:center;word-break:normal;direction:ltr" dir="ltr"><b>Work Status:</b> @@Work_Status@@</td>
                              </tr>
                              <tr>
                                <td class="m_1355126936274264770subheadline m_1355126936274264770space6" align="center" style="color:#5f6368;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0 80px 0 80px;text-align:center;word-break:normal;direction:ltr" dir="ltr"><b>Project:</b> @@Project@@</td>
                              </tr>
                              <tr>
                                <td class="m_1355126936274264770subheadline m_1355126936274264770space6" align="center" style="color:#5f6368;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0 80px 0 80px;text-align:center;word-break:normal;direction:ltr" dir="ltr"><b>Sub Project:</b> @@Sub_Project@@</td>
                              </tr>
                              <tr>
                                  <td class="m_1355126936274264770subheadline m_1355126936274264770space6" align="center" style="color:#5f6368;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0 80px 0 80px;text-align:center;word-break:normal;direction:ltr" dir="ltr"><b>Work Order No:</b> @@WorkOrderNo@@</td>
                              </tr>
                              <tr><td height="30"></td></tr>
                              <tr>
                                <td>

                                  <style type="text/css">
                                    .table-responsive-div table {
                                      font-family: arial, sans-serif;
                                      border-collapse: collapse;
                                      width: 100%;
                                    }

                                    .table-responsive-div td, th {
                                      border: 1px solid #e8eaed;
                                      text-align: center;
                                      padding: 8px;
                                    }

                                    .table-responsive-div th {
                                      color: #5f6368;
                                    }

                                    .table-responsive-div tr:nth-child(even) {
                                      background-color: #e8eaed;
                                    }
                                  </style>
                                  <div class="table-responsive-div">

                                    <table style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
                                      <tr>
                                        <th style="color: #5f6368;border: 1px solid #e8eaed;text-align: center;        padding: 8px;">S.No</th>
                                        <th style="color: #5f6368; border: 1px solid #e8eaed; text-align: center; padding: 8px;">Task Description</th>
                                        <th style="color: #5f6368; border: 1px solid #e8eaed; text-align: center; padding: 8px;">Completion Date</th>
                                        <th style="color: #5f6368; border: 1px solid #e8eaed; text-align: center; padding: 8px;">Status</th>
                                        <th style="color: #5f6368; border: 1px solid #e8eaed; text-align: center; padding: 8px;">Active/InActive</th>
                                      </tr>
                                      
                                          @@tbody@@
                                      
                                    </table>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height="50"></td></tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                          <tbody>
                            <tr><td height="30"></td></tr>
                            <tr>
                              <td align="center">    
                                <img role="presentation" class="m_1355126936274264770module_mobile CToWUd" width="64" height="64" border="0" src="http://40.119.167.89:84/images/mailTempImg/img/logo-BR.png" style="width:64px;height:64px;text-align:center;border:none">
                              </td>
                            </tr>
                            <tr><td height="19"></td></tr>
                            <tr><td height="19"></td></tr>
                            <tr>
                              <td class="m_1355126936274264770space6" valign="middle" style="color:#5f6368;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:10px;line-height:15px;margin:0;padding:0 30px 0 30px;text-align:center" align="center">
                                <span style="font-size:inherit;color:inherit;font-weight:inherit;line-height:inherit;font-family:inherit">Blue Rhine Industries<br>Dubai Investments Park 2, Jebel Ali,<br>Dubai, UAE</span>
                                <br><br>
                                <span style="word-break:normal;direction:ltr" dir="ltr">This email was sent to you because work order completion.</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                  </tr>
                  <tr><td height="18"></td></tr>
                </tbody>
              </table>                                  
            </center>
          </div>
        </div>
      </div>
    </div>